$border-light: #e9ecef;
$bg-light: #f6f9fc;
$bg-dark: #1c345d;
$bg-dark-1: #162b4d;
$border-dark: #1f3a68;
$text-dark: #4d7bca;

.rt-tr {
  align-items: center;
  // display: inline-table;
}
.-header {
  box-shadow: none;
  background-color: $bg-light;
  border-top: 1px solid $border-light;
  border-bottom: 1px solid $border-light;
  font-size: 0.65rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.rt-td {
  padding: 0 0.9375rem;
  height: auto;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
}
.rt-thead {
  display: block;
}
.rt-th {
  height: 48px;
  line-height: 48px;
  padding: 0 0.9375rem;
  font-weight: 700;
  text-align: left;
  border: none;
  white-space: nowrap;
  overflow: hidden;
}
.rt-tbody {
  display: inline-block;
  max-height: 75vh;
  overflow-y: scroll;
}

//   border: none;
// .custom-rt {
//   border: none;
//   &-light {
//     .rt-table {
//       .rt-thead {

//         }
//       }
//       .rt-tbody {
//         max-height: 61vh;
//         overflow-y: overlay;
//         .rt-td {
//           border: none;
//           // .rt-custom-checkbox {
//           //   margin-top: 0.2rem;
//           // }
//         }
//         .rt-tr-group {
//           border-color: $border-light;
//           .rt-tr {
//             .rt-td {
//               padding: 0 0.9375rem;
//               height: auto;
//               line-height: 55px;
//             }
//           }
//         }
//       }
//     }
//     .pagination-bottom {
//       .-pagination {
//         box-shadow: none;
//         border: none;
//       }
//     }
//   }
//   &-dark {
//     color: white;
//     .rt-table {
//       .rt-thead {
//         .rt-tr {
//           align-items: center;
//         }
//         &.-header {
//           box-shadow: none;
//           background-color: $bg-dark;
//           border-top: 1px solid $border-dark;
//           border-bottom: 1px solid $border-dark;
//           font-size: 0.65rem;
//           text-transform: uppercase;
//           letter-spacing: 1px;
//           .rt-th {
//             color: $text-dark;
//             height: 48px;
//             line-height: 48px;
//             padding: 0 0.9375rem;
//             font-weight: 700;
//             text-align: left;
//             border: none;
//           }
//         }
//       }
//       .rt-tbody {
//         max-height: 61vh;
//         overflow-y: overlay;
//         .rt-td {
//           border: none;
//         }
//         .rt-tr-group {
//           border-color: $border-dark;
//           .rt-tr {
//             .rt-td {
//               padding: 0 0.9375rem;
//               height: 55px;
//               line-height: 55px;
//             }
//           }
//         }
//       }
//     }
//     .pagination-bottom {
//       .-pagination {
//         box-shadow: none;
//         border-top: none;
//         background-color: $bg-dark;
//         color: $text-dark;
//         .-previous {
//           .-btn {
//             color: $text-dark;
//           }
//         }
//         .-center {
//           select,
//           input {
//             background-color: $bg-dark-1;
//             color: $text-dark;
//           }
//         }
//         .-next {
//           .-btn {
//             color: $text-dark;
//           }
//         }
//       }
//     }
//   }
// }
